:root {

  /*-----------------------------------
  ---- COLLOR VARS  
  -----------------------------------*/
  
  /// Primary color
  --cPrimary: brown;

  /// Secondary color
  --cSecondary: red;

  /// Light color
  --cLight: dimgray;

  /// Dark color
  --cDark: white;

  /// Emphasis color
  --cEmphasis: black;


  /*-----------------------------------
  ---- BACKGROUND COLOR VARS  
  -----------------------------------*/
  
  /// Primary background color
  --bgPrimary: yellow;

  /// Secondary background color
  --bgSecondary: yellow;

  /// Light background color
  --bgLight: white;

  /// Dark background color
  --bgDark: black;

  /// Emphasis background color
  --bgEmphasis: orange;

}
