:root {

  /*-----------------------------------
  ---- COLLOR VARS  
  -----------------------------------*/
  
  --color-primary: brown;
  --color-secondary: red;
  --color-light: dimgray;
  --color-dark: white;
  --color-emphasis: black;


  /*-----------------------------------
  ---- BACKGROUND COLOR VARS  
  -----------------------------------*/
  
  --bg-primary: yellow;
  --bg-secondary: yellow;
  --bg-light: white;
  --bg-dark: black;
  --bg-emphasis: orange;

}
