:root {

  /*-----------------------------------
  ---- BORDER SHORTHAND VARS
  -----------------------------------*/

  /// border shorthand width
  --bwSmall: thin;
  --bwLess: 2px;
  --bwMedium: medium;
  --bwMore: 4px;
  --bwBig: thick;

  /// border shorthand style
  --bStyle: solid;

  /// border shorthand color
  --bColor: var(--cEmphasis, black);


  /*-----------------------------------
  ---- BORDER SHORTHAND CONCISE VARS
  -----------------------------------*/

  /// border shorthand width concise (conjectures)
  // --bwS: var(--bwSmall);   //xs  // tiny
  // --bwL: var(--bwLess);    //sm  // less
  // --bwMd: var(--bwMedium); //md  // med
  // --bwM: var(--bwMore);    //lx  // more
  // --bwB: var(--bwBig);     //xl  // big

  /// border shorthand style concise
  --bs: var(--bStyle);

  /// border shorthand color concise
  --bc: var(--bColor);


  /*-----------------------------------
  ---- BORDER TOP SHORTHAND VARS
  -----------------------------------*/

  /// border top width
  --btwSmall: var(--bwSmall);
  --btwLess: var(--bwLess);
  --btwMedium: var(--bwMedium);
  --btwMore: var(--bwMore);
  --btwBig: var(--bwBig);
  
  /// border top style
  --btStyle: var(--bStyle);

  /// border top color concise
  --btColor: var(--bColor);


  /*-----------------------------------
  ---- BORDER RIGHT SHORTHAND VARS
  -----------------------------------*/

  /// border right width
  --brwSmall: var(--bwSmall);
  --brwLess: var(--bwLess);
  --brwMedium: var(--bwMedium);
  --brwMore: var(--bwMore);
  --brwBig: var(--bwBig);

  /// border right style
  --brStyle: var(--bStyle);

  /// border right color concise
  --brColor: var(--bColor);


  /*-----------------------------------
  ---- BORDER BOTTOM SHORTHAND VARS
  -----------------------------------*/

  /// border bottom width
  --bbwSmall: var(--bwSmall);
  --bbwLess: var(--bwLess);
  --bbwMedium: var(--bwMedium);
  --bbwMore: var(--bwMore);
  --bbwBig: var(--bwBig);

  /// border bottom style
  --bbStyle: var(--bStyle);

  /// border bottom color concise
  --bbColor: var(--bColor);


  /*-----------------------------------
  ---- BORDER LEFT SHORTHAND VARS
  -----------------------------------*/

  /// border left width
  --blwSmall: var(--bwSmall);
  --blwLess: var(--bwLess);
  --blwMedium: var(--bwMedium);
  --blwMore: var(--bwMore);
  --blwBig: var(--bwBig);

  /// border left style
  --blStyle: var(--bStyle);

  /// border left color concise
  --blColor: var(--bColor);


  /*-----------------------------------
  ---- BORDER TOP SHORTHAND CONCISE VARS
  -----------------------------------*/

  /// border top width concise (conjectures)
  // --btwS: var(--btwSmall);
  // --btwL: var(--btwLess);
  // --btwMd: var(--btwMedium);
  // --btwM: var(--btwMore);
  // --btwB: var(--btwBig);

  /// border top style concise
  --bts: var(--btStyle);

  /// border top color concise
  --btc: var(--btColor);


  /*-----------------------------------
  ---- BORDER RIGHT SHORTHAND CONCISE VARS
  -----------------------------------*/

  /// border right width concise (conjectures)
  // --brwS: var(--brwSmall);
  // --brwL: var(--brwLess);
  // --brwMd: var(--brwMedium);
  // --brwM: var(--brwMore);
  // --brwB: var(--brwBig);

  /// border right style concise
  --brs: var(--brStyle);

  /// border right color concise
  --brc: var(--brColor);


  /*-----------------------------------
  ---- BORDER BOTTOM SHORTHAND CONCISE VARS
  -----------------------------------*/

  /// border bottom width concise (conjectures)
  // --bbwS: var(--bbwSmall);
  // --bbwL: var(--bbwLess);
  // --bbwMd: var(--bbwMedium);
  // --bbwM: var(--bbwMore);
  // --bbwB: var(--bbwBig);

  /// border bottom style concise
  --bbs: var(--bbStyle);

  /// border bottom color concise
  --bbc: var(--bbColor);


  /*-----------------------------------
  ---- BORDER LEFT SHORTHAND CONCISE VARS
  -----------------------------------*/

  // /// border left width concise (conjectures)
  // --blwS: var(--blwSmall);
  // --blwL: var(--blwLess);
  // --blwMd: var(--blwMedium);
  // --blwM: var(--blwMore);
  // --blwB: var(--blwBig);

  /// border left style concise
  --bls: var(--blStyle);

  /// border left color concise
  --blc: var(--blColor);

}
