/*---------------------------------------------------------
---- BORDER SHORTHAND
---------------------------------------------------------*/

.b0, .bNone, .borderNone, .border-none {
  border: none;
}

.b1, .bPrimary, .borderPrimary, .border-primary {
  border: var(--bWidth) var(--bStyle) var(--cPrimary);
}

.b2, .bSecondary, .borderSecondary, .border-secondary {
  border: var(--bWidth) var(--bStyle) var(--cSecondary);
}

.b3, .bLight, .borderLight, .border-light {
  border: var(--bWidth) var(--bStyle) var(--cLight);
}

.b4, .bDark, .borderDark, .border-dark {
  border: var(--bWidth) var(--bStyle) var(--cDark);
}

.b5, .bEmphasis, .borderEmphasis, .border-emphasis {
  border: var(--bWidth) var(--bStyle) var(--cEmphasis);
}

.bIni, .bInitial, .borderInitial, .border-initial {
  border: initial;
}
