/*---------------------------------------------------------
---- BG COLOR APP
---------------------------------------------------------*/

/// Applies none background color
.bg0, .bgNone, .bg-none {
  background-color: none;
}

/// Applies primary background color
.bg1, .bgPrimary, .bg-primary {
  background-color: var(--bg-primary);
}

/// Applies secondary background color
.bg2, .bgSecondary, .bg-secondary {
  background-color: var(--bg-secondary);
}

/// Applies light background color
.bg3, .bgLight, .bg-light {
  background-color: var(--bg-light);
}

/// Applies dark background color
.bg4, .bgDark, .bg-dark {
  background-color: var(--bg-dark);
}

/// Applies extra highlight background color to get attention, 
/// such as highlighting a buy button
.bg5, .bgEmphasis, .bg-emphasis {
  background-color: var(--bg-emphasis);
}

/// Applies initial (or default) background color
.bgIni, .bgInitial, .bg-initial {
  background-color: initial;
}

