/*---------------------------------------------------------
---- COLOR APP
---------------------------------------------------------*/

/// Applies none color
.c0, .cNone, .color-none {
  color: none;
}

/// Applies primary color
.c1, .cPrimary, .color-primary {
  color: var(--color-primary);
}

/// Applies secondary color
.c2, .cSecondary, .color-secondary {
  color: var(--color-secondary);
}

/// Applies light color
.c3, .cLight, .color-light {
  color: var(--color-light);
}

/// Applies dark color
.c4, .cDark, .color-dark {
  color: var(--color-dark);
}

/// Applies extra highlight color to get attention, 
/// such as highlighting a buy button
.c5, .cEmphasis, .color-emphasis {
  color: var(--color-emphasis);
}

/// Applies initial (or default) color
.cIni, .cInitial, .color-initial {
  color: initial;
}

