/*---------------------------------------------------------
---- TEXT COLOR  
---------------------------------------------------------*/

/// Applies none color and background color
.t0, .tNone, .textNone, .text-none {
  color: none;
  background-color: none;
}

/// Applies primary color and background color
.t1, .tPrimary, .textPrimary, .text-primary {
  color: var(--cPrimary);
  background-color: var(--bgPrimary);
}

/// Applies secondary color and background color
.t2, .tSecondary, .textSecondary, .text-secondary {
  color: var(--cSecondary);
  background-color: var(--bgSecondary);
}

/// Applies light color and background color
.t3, .tLight, .textLight, .text-light {
  color: var(--cLight);
  background-color: var(--bgLight);
}

/// Applies dark color and background color
.t4, .tDark, .textDark, .text-dark {
  color: var(--cDark);
  background-color: var(--bgDark);
}

/// Applies extra highlight color and background color to get attention, 
/// such as highlighting a buy button
.t5, .tEmphasis, .textEmphasis, .text-emphasis {
  color: var(--cEmphasis);
  background-color: var(--bgEmphasis);
}

/// Applies initial (or default) color and background color
.tIni, .tInitial, .textInitial, .text-initial {
  color: initial;
  background-color: initial;
}
